@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
// default description style
.description_content {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}
// default section style
section {
  padding: 60px 0;
  overflow: hidden;
  h2 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    margin-right: 20px;
    padding: 20px;
    color: #37517e;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 120px;
      height: 1px;
      left: calc(50% - 55px);
      bottom: 1px;
      background: #f7ff00; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #db36a4,
        #f7ff00
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #db36a4,
        #f7ff00
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: #47b2e4;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }
}

h4 {
  font-weight: bold !important;
  color: #37517e;
  font-size: 25px;
}

// header
header {
  height: 700px;
  background-color: #37517e;
  nav {
    transition: all 0.55s ease;
    a {
      color: white !important;
      font-weight: 600;
    }
    img {
      width: 20%;
    }
    button {
      outline: none;
      border: none;
    }
  }

  .jumbotron {
    background-color: #37517e;
    h1 {
      font-size: 48px;
      font-weight: bold;
    }
    h2 {
      color: rgba(255, 255, 255, 0.6);
      font-size: 24px;
    }
  }
  .title_jumbotron button {
    &:hover {
      i {
        color: burlywood;
      }
    }
  }
}
// aclients
#clients {
  margin-top: -32px;
  background-color: lightgrey;
  img {
    filter: grayscale(100);
    transition: all 0.43s ease;
    width: 21% !important;
    padding: 5px;
    &:hover {
      filter: grayscale(0);
      transition: all 0.33s ease;
    }
  }
}
// about
#about {
  ul {
    padding: 0;
    list-style: none !important;
  }
  i {
    color: #47b2e4;
    font-size: 20px;
    margin-right: 10px;
  }
}
// why us
#why_us {
  background-color: #f3f5fa;
  img {
    transform: scale(2);
    height: 500px;
  }
  .content {
    h3 {
      color: #37517e;
      font-weight: 400;
    }
    span {
      color: #37517e;
      font-weight: bold;
    }
    p {
      color: #848484;
      font-size: 15px;
    }
  }
  strong {
    span {
      margin-left: 7px;
    }
  }
  .bxs-down-arrow-alt .active_rotate {
    transform: rotate(180deg);
  }
}

// service
#service {
  .card {
    margin-top: 40px;
    transition: all 0.55s ease;
    &:hover {
      cursor: pointer;
      margin-top: 20px;
      transition: all 0.44s ease;
    }

    .card-body {
      i {
        color: #47b2e4;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 18px;
      }
      h4 {
        color: #37517e;
        font-weight: 600;
        font-size: 19px;
      }
      p {
        font-size: 15px;
        color: grey;
      }
    }
  }
}

// Call To Action
#CTA {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUQ_xBKZbt5b3Im_r8x-KKnjXfZp1cuMsVpA&usqp=CAU")
      fixed center center;
  color: white;
  p {
    font-size: 15px;
  }
  .btn {
    border: 2px solid #4535f0;
    color: white;
  }
  h4 {
    font-weight: bold;
  }
  background-size: cover;
  background-position: center;
}

// TEAM ===========================================
#team {
  background-color: #f3f5fa;
  .card {
    margin-top: 20px;
    padding: 10px;
    transition: all 0.55s ease;
    &:hover {
      margin-top: 10px;
      transition: all 0.44s ease;
      cursor: pointer;
    }
  }
  .team_content {
    display: flex;
    justify-content: start;
    align-items: center;
    .team_description {
      h4 {
        font-size: 20px;
        color: #37517e;
        font-weight: 700;
        font-family: serif;
      }
      span {
        font-size: 13px;
        font-weight: 600;
      }
      small {
        margin: 10px 0 0 0;
      }
      i {
        font-size: 18px;
      }
    }
  }
  .team_img {
    img {
      width: 150px;
      border-radius: 50%;
    }
  }
}
// ==============Pricising==========
#pricising {
  .card {
    margin-top: 30px;
    border-radius: 10px;
  }

  .title_box {
    transition: all 0.55s ease;
    &:hover {
      background-color: #37517e;
      padding: 30px;
      cursor: pointer;
      transition: all 0.55s ease;
      span,
      h3,
      h4,
      li {
        color: white !important;
      }
    }
    padding: 60px 40px;
    h3 {
      font-size: 20px;
      font-weight: 600;
    }

    sup {
      font-size: 20px;
    }
    code {
      font-size: 35px;
    }
    span {
      display: block;
      font-size: 15px;
      font-weight: bold;
      color: #37517e;
      margin-top: 10px;
    }
  }

  .list_description {
    padding: 20px 0;
    color: #999;
    text-align: left;
    line-height: 20px;

    li {
      i {
        color: #47b2e4;
        font-size: 24px;
      }
      margin: 20px 0;
      list-style: none;
      color: grey;
      font-size: 15px;
    }
    .disable_order_plan {
      text-decoration: line-through;
      i {
        color: rgb(155, 155, 155) !important;
      }
    }
  }
}

// ASked QUESTION STYLE
#question {
  background-color: #f3f5fa;
  .bx-help-circle {
    position: absolute;
    font-size: 24px;
    left: 5px;
  }
}

//

// contact
#contact {
  .location {
    border-radius: 10px;
    border-top: 10px solid #4535f0;
  }
  .form-border {
    border-radius: 10px;
    border-top: 10px solid #4535f0;
  }
}

// newsletter
#newsletter {
  background-color: #f3f5fa;
  .newsletter_input {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      input {
        background-color: red;
        color: white;
      }
      button {
        margin-left: -50px !important;
        padding: 1px 15px !important;
        transition: all 0.55s ease-out;
        background-color: #419cc6;
      }
    }
    input {
      padding: 0px 20px;
      width: 100%;
      border-radius: 10px;
      border: 2px solid #47b2e4;
    }
    button {
      border: none;
      outline: none;
      transition: all 0.44s ease;
      margin-left: -100px;
      margin-top: 1px;
      padding: 1px 15px;
      border-radius: 20px;
      background-color: #47b2e4;
      color: white;
    }
  }
}

//

// footer
footer {
  .col-xl-3,
  .col-md-6 {
    padding: 20px 0;
    .footer_description {
      font-size: 14px !important;
      color: grey !important;
    }
    h5 {
      font-size: 18px;
      color: #37517e;
      font-weight: bold;
    }
    p {
      font-size: 17px !important;
    }
    .list_footer {
      padding: 5px;
    }
    li {
      display: flex;
      place-content: start;
      place-items: center;
      list-style: none;

      i {
        font-size: 23px;
        color: #37517e;
        font-weight: bol;
      }

      a {
        text-decoration: none;
      }
    }

    .social_media_description {
      width: 60% !important;
    }

    .social_media {
      display: flex;
      place-items: center;
      width: 80%;

      a {
        text-decoration: none;
        padding: 10px;
        background-color: #f3f5fa;
        margin-left: 5px;
        i {
          line-height: 10px;
          font-size: 16px;
        }
      }
    }
  }

  // footer  copy right
  .card-header {
    background-color: #37517e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

// ======================================= Animation Animation style ============================

// animation scrolling navbar
.scrolling_active {
  transition: all 0.55s ease;
  background-color: #37517e !important; //jika navbar nya mempunyi default warna maka beri importan agar code ini di jalankan
}

// progresss bar
.progress-bar {
  background-color: #37517e;
}
.progress_info {
  h5 {
    color: #87a0cc;
    font-size: 16px;
  }
}

// responsive brekpoints

@media (min-width: 375px) and (max-width: 667px) {
  #team {
    .card {
      margin-top: 20px;
      padding: 5px;
    }
    .team_content {
      .team_description {
        h4 {
          font-size: 15px;
        }
        span {
          font-size: 10px;
          font-weight: 600;
        }
        small {
          margin: 5px 0 0 0;
        }
        i {
          font-size: 15px;
        }
      }
    }
    .team_img {
      img {
        width: 100%;
        border-radius: 0;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  section.jumbotron {
    button {
      margin-bottom: 3px;
      width: 100%;
      font-size: 18px;
    }
  }
  #why_us {
    img {
      transform: scale(1);
      height: auto;
    }
  }
}
@media screen and (max-width: 767px) {
  header {
    height: auto;
  }
  .header_direction {
    display: flex;
    flex-direction: column-reverse;
  }
  .title_jumbotron {
    margin-top: 50px;
    text-align: center;
  }
  #about {
    .show_github {
      width: 100% !important;
      background-color: #64b3f4;
      color: blue;
    }
  }
}
