@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,800&display=swap");
html,
body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.description_content {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}
section {
  padding: 60px 0;
  overflow: hidden;
  h2 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    margin-right: 20px;
    padding: 20px;
    color: #37517e;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 120px;
      height: 1px;
      left: calc(50% - 55px);
      bottom: 1px;
      background: #f7ff00; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #db36a4,
        #f7ff00
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #db36a4,
        #f7ff00
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: #47b2e4;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }
}
header {
  height: 700px;
  background-color: #37517e;
  nav {
    transition: all 0.55s ease;
    a {
      color: white !important;
      &:hover {
        font-weight: 600;
      }
    }
    img {
      width: 20%;
    }
    button {
      outline: none;
      border: none;
    }
  }

  .jumbotron {
    background-color: #37517e;
    h1 {
      font-size: 48px;
      font-weight: bold;
    }
    h2 {
      color: rgba(255, 255, 255, 0.6);
      font-size: 24px;
    }
  }
  .title_jumbotron button {
    &:hover {
      i {
        color: burlywood;
      }
    }
  }
}
#clients {
  margin-top: -32px;
  background-color: lightgrey;
  img {
    filter: grayscale(100);
    transition: all 0.43s ease;
    width: 21% !important;
    padding: 5px;
    &:hover {
      filter: grayscale(0);
      transition: all 0.33s ease;
    }
  }
}
#about {
  ul {
    padding: 0;
    list-style: none !important;
  }
  i {
    color: #47b2e4;
    font-size: 20px;
    margin-right: 10px;
  }
}

#why_us {
  background-color: #f3f5fa;
  img {
    transform: scale(2);
    height: 500px;
  }
  .content {
    h3 {
      color: #37517e;
      font-weight: 400;
    }
    span {
      color: #37517e;
      font-weight: bold;
    }
    p {
      color: #848484;
      font-size: 15px;
    }
  }
  strong {
    span {
      margin-left: 7px;
    }
  }
}

// service
#service {
  .card {
    margin-top: 40px;
    transition: all 0.55s ease;
    &:hover {
      cursor: pointer;
      margin-top: 20px;
      transition: all 0.44s ease;
    }

    .card-body {
      i {
        color: #47b2e4;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 18px;
      }
      h4 {
        color: #37517e;
        font-weight: 600;
        font-size: 19px;
      }
      p {
        font-size: 15px;
        color: grey;
      }
    }
  }
}

// Call To Action
#CTA {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUQ_xBKZbt5b3Im_r8x-KKnjXfZp1cuMsVpA&usqp=CAU")
      fixed center center;
  color: white;
  p {
    font-size: 15px;
  }
  .btn {
    border: 2px solid #4535f0;
    color: white;
  }
  h4 {
    font-weight: bold;
  }
  background-size: cover;
  background-position: center;
}

// animation scrolling navbar
.scrolling_active {
  transition: all 0.55s ease;
  background-color: #4535f0 !important; //jika navbar nya mempunyi default warna maka beri importan agar code ini di jalankan
}

// progresss bar
.progress-bar {
  background-color: #37517e;
}
.progress_info {
  h5 {
    color: #87a0cc;
    font-size: 16px;
  }
}

// responsive brekpoints

@media screen and (max-width: 992px) {
  section.jumbotron {
    button {
      margin-bottom: 3px;
      width: 100%;
      font-size: 18px;
    }
  }
  #why_us {
    img {
      transform: scale(1);
      height: auto;
    }
  }
}
@media screen and (max-width: 767px) {
  header {
    height: auto;
  }
  .header_direction {
    display: flex;
    flex-direction: column-reverse;
  }
  .title_jumbotron {
    margin-top: 50px;
    text-align: center;
  }
  #about {
    .show_github {
      width: 100% !important;
      background-color: #64b3f4;
      color: blue;
    }
  }
}
